.whatsapp-link {
  padding: 3rem 1rem;
  background: linear-gradient(
    135deg,
    rgb(6, 179, 98) 0%,
    rgb(6, 144, 146) 100%
  );
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.486);
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border-radius: 8px;
  gap: 1rem;
  margin: 2.9rem 6rem;
}
.whatsapp-link p {
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}
.whatsapp-link button {
  padding: 0.8rem;
  width: 65%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  /* color: white; */
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin: 0rem 3.6rem;
  margin-left: 6rem;
}
.whatsapp-link button:hover {
  /* background-color: rgb(18, 199, 12); */
  box-shadow: 0px 2px 4px 2px rgba(197, 197, 197, 0.486);
  transform: translateY(-5px);
}

.whatsapp-link button a {
  text-decoration: none;
  color: rgb(18, 199, 12);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}
.whatsapp-link button i {
  text-decoration: none;
  color: rgb(18, 199, 12);
  font-size: 2rem;
}

.socialhandles {
  max-height: 10rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* background-color: rgb(2, 161, 87); */
  padding: 1rem;
}
.socialhandles p {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(250, 250, 250);
  margin: 0.5rem;
}
icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
}
.socialhandles a i {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  margin: 0rem 1rem;
}
.socialhandles a i:hover {
  font-size: 2.3rem;
}

.socialhandles phone .phone i {
  font-size: 1.6rem;
  margin-right: 1rem;
}
.socialhandles phone a p {
  font-size: 1rem;
}
phone {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
}
.fa-phone {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 0.3rem;
}
address {
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.7rem;
  text-align: center;
}

/* for tablet screen */
@media screen and (max-width: 1024px) {
  .whatsapp-link {
    background: linear-gradient(
      135deg,
      rgb(6, 155, 86) 0%,
      rgb(19, 154, 156) 100%
    );
    display: grid;
    width: auto;
    padding: 3rem 2.5rem;
    margin: 0.2rem;
    grid-template-rows: auto auto;
    gap: 1.2rem;
  }
  .whatsapp-link p {
    font-size: 1.2rem;
  }
  .whatsapp-link button {
    padding: 1rem;
    width: 65%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .whatsapp-link button a {
    font-size: 1.1rem;
  }
  .whatsapp-link button i {
    font-size: 1.4rem;
  }
  .socialhandles {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    margin-top: 0.5rem;
    padding: 1.5rem;
    height: auto;
  }
  .socialhandles p {
    font-size: 1.1rem;
  }
  .socialhandles a i {
    font-size: 1.7rem;
    margin: 0 0.9rem;
  }
  .socialhandles a i:hover {
    font-size: 1.8rem;
  }

  phone {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 1rem;
    width: 100%;
    /* background-color: blueviolet; */
    font-size: 1.1rem;
  }
  .fa-phone {
    font-size: 1.7rem;
    margin-right: 0.3rem;
  }
  address {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.7rem;
    border-radius: 8px;
    line-height: 1.6rem;
    font-weight: 500;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .whatsapp-link {
    background: linear-gradient(
      135deg,
      rgb(6, 145, 80) 0%,
      rgb(8, 124, 126) 100%
    );
    display: grid;
    width: auto;
    padding: 3rem 2.5rem;
    margin: 0.2rem;
    grid-template-rows: auto auto;
    gap: 1.2rem;
  }
  .whatsapp-link p {
    font-size: 1rem;
  }
  .whatsapp-link button {
    padding: 1rem;
    width: 75%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .whatsapp-link button a {
    font-size: 1.1rem;
  }
  .whatsapp-link button i {
    font-size: 1.4rem;
  }
  .socialhandles {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    margin-top: 0.5rem;
    padding: 1.5rem;
    height: auto;
  }
  .socialhandles p {
    font-size: 1rem;
  }
  .socialhandles a i {
    font-size: 1.5rem;
    margin: 0 0.9rem;
  }
  .socialhandles a i:hover {
    font-size: 1.7rem;
  }

  phone {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 1rem;
    width: 100%;
    /* background-color: blueviolet; */
    font-size: 1rem;
  }
  .fa-phone {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }
  address {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.7rem;
    border-radius: 8px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }
}
