.package-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 3rem;
    background: #f9f9f9;
}

.ag-packages_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
    height: auto;
}

@media screen and (max-width: 576px) {
    .package-container {
        padding: 4rem 1rem;
    }
    .ag-packages_box {
        align-items: center;
        padding: 20px 0;
    }
}
