.adventure {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    color: #080808;
    line-height: 1.8;
    margin: 4rem auto;
    width: 700px;
}
.adventure p {
    padding: 1rem 0.9rem;
    margin: 2rem 1rem;
}

.adventure .slogan {
    /* color: rgb(160, 15, 15); */
    font-size: larger;
    font-weight: 700;
}

/* Media query for screens with a max width of 1024px (Tablet) */
@media screen and (max-width: 1024px) {
    .adventure {
        width: 600px;
        margin: 3rem auto;
        font-size: 1.3rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
    }

    .adventure p {
        padding: 0.8rem 0.8rem;
        margin: 1.5rem 1rem;
        font-size: 1.2rem;
        text-align: justify;
    }

    .adventure .slogan {
        font-size: 1.5rem;
        line-height: 2rem;
        border-radius: 8px;
    }
}

@media screen and (max-width: 768px){
  .adventure{
    width: 500px;
    margin: 3rem auto;
    font-size: 1.2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
  }
  
}

/* Media query for screens with a max width of 480px (Mobile) */
@media screen and (max-width: 480px) {
    .adventure {
        width: 95%;
        margin: 3rem auto;
        padding: 1rem 0.5rem;
    }

    .adventure p {
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem;
        margin: 2rem 0.3rem;
        text-align: justify;
        line-height: 2rem;
    }

    .adventure .slogan {
        border-radius: 8px;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}
