.footer {
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #18aa55, #037231);
  color: #fff;
  font-size: 20px;
  padding: 2rem 1rem;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1.2fr 0.8fr;
  grid-template-rows: 1fr 1fr 0.4fr;
  grid-template-areas: "logo links address social" " map map contact contact " "bottom bottom bottom bottom";
}
.footer h3 {
  color: #ffeb3a;
  font-size: 1.2rem;
}

.footer-logo {
  font-size: 1.9rem;
  font-weight: bold;
  padding: 30px -10px;
  grid-area: logo;
}
.footer-logo-img {
  width: 100px;
  height: 100px;
}
.logo p {
  font-size: 2rem;
  display: flex;
  margin: 5px -20px;
}
.footer-links {
  grid-area: links;
}
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links a,
.footer-social a {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.footer-social {
  grid-area: social;
  display: flex;
}
.footer-links a:hover {
  color: #f7a816;
}
.social-icons h3 {
  text-align: center;
}
.social-icons a {
  margin: 1rem 0.7rem;
  font-size: 1.9rem;
  color: #e1e1e1;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-instagram:hover {
  color: #ff0069;
}
.fa-whatsapp:hover {
  color: #25d366;
}
.fa-phone:hover {
  color: #25d366;
}
.fa-envelope:hover {
  color: #25d366;
}
.footer-address {
  grid-area: address;
  line-height: 1.5;
}
.footer-address address {
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
}
.footer-contact {
  grid-area: contact;
  margin: 1rem auto;
}
.footer-contact p a {
  font-weight: bold;
}
.footer-contact p {
  margin-top: 1rem;
  line-height: 2.1rem;
  font-size: 1.2rem;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer-map {
  grid-area: map;
}
.footer-bottom {
  grid-area: bottom;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-bottom p {
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .footer {
    grid-template-areas: "logo links address" "social map contact" "bottom bottom bottom";
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 1fr 1fr 0.4fr;
  }
  .footer-contact {
    margin: 0.8rem auto;
  }
  .footer-contact p {
    width: auto;
    font-size: 1.1rem;
  }
  .footer-contact p a {
    font-size: 0.9rem;
  }
}

/* for tablets */

@media screen and (max-width: 834px) {
  .footer {
    padding: 1rem 0rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.4fr;
    grid-template-areas: "logo links" "address social" "map contact" "bottom bottom";
  }
  .footer h3 {
    font-size: 1.3rem;
  }
  .footer-logo {
    padding: 0.5rem 0.3rem;
  }
  .footer-logo p {
    font-size: 1.8rem;
  }
  .footer-links {
    padding: 0.1rem 0.5rem;
  }
  .footer-address {
    padding: 0.5rem 0.3rem;
  }
  .footer-address h3 {
    padding: 0.2rem;
    margin-left: 9rem;
  }
  .footer-address address {
    margin-top: 0.5rem;
    padding: 0rem 1rem;
  }
  .footer-contact h3 {
    margin-left: 6rem;
  }
  .footer-contact p {
    font-size: 1.1rem;
  }
  .footer-contact p a {
    font-size: 1.1rem;
  }
  .footer-contact .contact-details p {
    margin-left: 1.3rem;
  }
  .footer-links {
    text-align: center;
  }
  .footer-links ul li {
    padding: 0rem 0.5rem;
  }
  .footer-links ul li a {
    font-size: 1rem;
    font-weight: 600;
  }
  .footer-links ul {
    margin-top: 1rem;
  }
  .footer-social {
    padding: 1rem 0.5rem;
  }
  .footer-social h3 {
    text-align: center;
    margin: auto;
  }

  .footer-social a i {
    font-size: 1.8rem;
    margin: 0 0.2rem;
  }
  .footer-map .map-iframe {
    width: 75%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
  .footer-map h3 {
    margin-left: 9rem;
  }
  .footer-bottom p {
    font-size: 1rem;
  }
  #rights {
    font-size: 1.1rem;
  }
}

/* for mobile screens */
@media screen and (max-width: 480px) {
  .footer {
    padding: 0rem 0rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.6fr 0.6fr 1fr 0.4fr;
    grid-template-areas: "logo logo" "links address" "contact contact" "social social" "map map" "bottom bottom";
    overflow-x: hidden;
  }
  .footer h3 {
    text-align: center;
  }

  .footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0rem;
    padding: 0rem;
    /* Remove unnecessary margin */
  }

  .footer-logo p {
    width: fit-content;
    padding: 0rem 0rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 0.8rem;
    text-align: center;
  }
  .footer-logo-img {
    padding: 0.5rem 0.3rem;
  }

  .footer-links {
    width: auto;
    padding: 2rem 0.2rem;
    /* border-bottom: 1px solid rgb(196, 196, 196); */
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    font-style: normal;
  }
  .footer-links h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  .footer-links ul li {
    text-align: left;
  }
  .footer-address {
    /* font-size: 1rem; */
    padding: 0.1rem 0.3rem;
    font-style: normal;
    line-height: 1.5rem;
  }
  .footer-address h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin: 0;
  }
  .footer-address address {
    margin: auto;
    margin-bottom: 1.4rem;
    margin-top: 0.5rem;
    margin-left: 1.6rem;
    font-size: 1rem;
    font-style: normal;
  }
  .footer-contact .contact-details {
    font-size: 1.2rem;
    text-align: center;
    margin: 0rem;
  }

  .footer-contact p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .footer-contact p a {
    font-size: 1rem;
    font-weight: 600;
  }

  .footer-links ul li {
    padding: 0rem 0.5rem;
    font-style: normal;
  }
  .footer-links ul li a {
    font-size: 1rem;
    font-weight: 600;
  }
  .footer-links ul {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    /* border-bottom: 1px solid white; */
  }
  .social-icons h3 {
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
    margin: 0;
  }

  .footer-social a i {
    font-size: 1.8rem;
    margin: 0;
  }
  .footer-icons {
    width: 90vw;
    margin-right: 5rem;
  }
  .footer-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem auto;
    width: 100%;
    height: auto;
  }
  .footer-map h3 {
    font-size: 1.2rem;
    margin-right: 9rem;
    width: 60%;
  }
  .footer-map .map-iframe {
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
  .footer-bottom {
    background-color: #b6a50df1;
    padding: 0.5rem 0.5rem;
  }
  .footer-bottom p {
    color: #ffffff;
    font-size: 1.1rem;
  }
  #rights {
    font-size: 1rem;
  }
}
