/* Style for the main container */

.container {
    background-color: rgb(242, 247, 252);
    display: block;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}

/* Style for the paragraph */

.text-two,
.text-three {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    color: #080808;
    line-height: 1.8;
    margin: 4rem 10rem;
}
span {
    color: rgb(185, 0, 0);
    font-size: 17.3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-text {
    animation: fadeIn 6s ease-in-out infinite;
    font-size: 24px;
    font-weight: bold;
}

#text-two {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem 0.9rem;
    margin: 8rem 1.5rem;
}
#text-two img {
    height: auto;
    max-width: 30%;
}
#text-two p {
    height: auto;
}
#text-three p {
    padding: 1rem 0.9rem;
    margin: 2rem 1rem;
}
#slogan {
    color: rgb(160, 15, 15);
    font-size: larger;
    font-weight: 700;
}
