.vehicle-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    justify-items: center; 
    position: relative; 
  }
  
  .vehicle-cards::before {
    content: '';
    display: block;
    padding-top: 10%; 
    grid-column: 1 / 3; 
  }
  
  @media (max-width: 768px) {
    .vehicle-cards {
      grid-template-columns: 1fr; 
    }
  }