.contact-container {
  background-color: rgb(240, 248, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 4rem 3rem;
}
nav{
  background-color: rgb(17, 17, 17) !important;
}

/* for tablet screens */

@media screen and (max-width: 1024px) {
  .contact-container {
    padding: 3rem 3.2rem;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 834px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
  }
}
/* for mobile screens */
@media screen and (max-width: 480px) {
  .contact-container {
    overflow-x: hidden;
    flex-direction: column-reverse;
    padding: 2rem 1.5rem;
  }
}
