/* images part */

.about-place {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin: 120px 50px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-place p {
    margin: 0 20px;
    font-size: 2.45rem;
    font-style: italic;
    font-family: "Merriweather", serif;
}

.about-place img {
    height: 400px;
    aspect-ratio: 1;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}

.about-place:nth-child(even) {
    flex-direction: row-reverse;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-text {
    animation: fadeIn 6s ease-in-out infinite;
    font-size: 24px;
    font-weight: bold;
}

/* Media query for screens with a max width of 1024px (Tablet) */
@media screen and (max-width: 1024px) {
    .about-place {
        margin: 120px 50px;
    }

    .about-place p {
        font-size: 1.8rem;
        text-align: justify;
    }

    .about-place img {
        height: 300px;
        margin: 0 20px;
    }

    .animated-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .about-place img {
        height: 200px;
    }
}

/* Media query for screens with a max width of 480px */
@media screen and (max-width: 480px) {
    .about-place {
        flex-direction: column-reverse;
        margin: 10px 20px;
        padding: 10px 10px;
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }

    .about-place p {
        margin: 20px 0;
        font-size: 1.2rem;
        text-align: left;
    }

    .about-place img {
        width: 80%;
        height: auto;
        border: 2px solid rgb(255, 255, 255);
        margin: 30px 0;
    }

    .visible {
        opacity: 1;
        transform: translateY(0);
    }

    .animated-text {
        font-size: 18px;
    }

    .about-place:nth-child(even) {
        flex-direction: column-reverse;
    }
}
