@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.intro-carrentals {
  padding: 8rem 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  align-items: center;
  grid-template-areas:
    "text image"
    "button button";
}

.intro-carrentals p {
  padding: 5rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: justify;
  grid-area: text;
}

.intro-carrentals-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 8px;
  grid-area: image;
}

.navigation {
  font-family: "Inter", sans-serif;
  font-size: 1.28rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  background-color: #51b102;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-area: button;
  justify-self: center;
  align-self: center;
}

.navigation:hover {
  background-color: #68e601;
}
/* for tablet screens */
@media screen and (max-width: 1024px) {
  .intro-carrentals {
    display: flexbox;
    flex-direction: row;
    padding: 10rem 1.5rem;
    gap: 2.8rem;
    align-items: center;
  }

  .intro-carrentals p {
    padding: 3rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
    order: 1;
  }

  .intro-carrentals-image {
    max-width: 100%;
    width: 90%;
    height: auto;
    border-radius: 8px;
    order: 2;
  }

  .navigation {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    align-self: center;
    order: 3;
  }
  .navigation:hover {
    background-color: #68e601;
    box-shadow: 0 9px 14px rgba(0, 0, 0, 0.24);
  }
}
/* for mobile screens */
@media screen and (max-width: 480px) {
  .intro-carrentals {
    display: flex;
    flex-direction: column;
    padding: 6rem 1rem;
    gap: 1rem;
  }

  .intro-carrentals p {
    padding: 2rem 0.4rem;
    font-size: 0.9rem;
    order: 2;
  }

  .intro-carrentals-image {
    max-width: 100%;
    width: 75%;
    height: auto;
    order: 1;
  }

  .navigation {
    font-size: 1.1rem;
    padding: 0.7rem 1.8rem;
    margin-left: 0;
    order: 3;
    grid-area: button;
    align-self: center;
    border-radius: 10rem;
  }
  .navigation:hover {
    background-color: #6ce905;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.411);
  }
}
