.office-address {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.office-address {
    p,
    address {
        font-size: 18px;
        margin-top: 17px;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .office-address {
        margin: 4rem auto;
        width: 500px;
        padding: 0.1rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.37);
    }
    .office-address p,
    .office-address address {
        font-size: 1.1rem;
        padding: 0.4rem 0rem;
        line-height: 1.9rem;
    }
}

/* Media query for screens with a max width of 1024px (Tablet) */
@media screen and (max-width: 576px) {
    .office-address {
        margin: 3rem auto;
        width: 90%;
        padding: 0.2rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.37);
    }

    .office-address p,
    .office-address address {
        font-size: 1rem;
        padding: 1rem 0rem;
        line-height: 1.8rem;
    }

    .office-address h2 {
        margin-top: 20px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px) {
    .office-address p,
    .office-address address {
        font-size: 0.9rem;
        padding: 0.4rem 0rem;
        line-height: 1.5rem;
    }
    .office-address h2 {
        margin-top: 20px;
        font-size: 1.2rem;
    }
}
