.team {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    color: #080808;
    line-height: 1.8;
    margin: 4rem 10rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem 0.9rem;
    margin: 8rem 1.5rem;
}
.team img {
    height: auto;
    max-width: 30%;
}
.team p {
    height: auto;
}
