/* Style for the main container */

.container {
    background-color: rgb(242, 247, 252);
    display: block;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}

span {
    color: rgb(185, 0, 0);
    font-size: 17.3px;
}
