/* Style for the main container */

.container {
    background-color: rgb(242, 247, 252);
    display: block;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}

span {
    color: rgb(185, 0, 0);
    font-size: 17.3px;
}
nav {
    background-color: black;
}

/* Media query for screens with a max width of 480px */
@media screen and (max-width: 480px) {
    .container {
        padding: 10px; /* Add padding for better spacing */
        overflow-x: hidden;
        width: 100%;
        height: auto;
    }

    span {
        font-size: 15px; /* Adjust the font size for smaller screens */
    }
}
